//colors
$dark-blue: #023a40;
$light-blue: #84d9d9;
$yellow: #f2b807;
$orange: #f29f05;
$pink: #d95b5b;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto:wght@300&display=swap');
$body-font-family: 'Roboto', sans-serif;
$heading-font-family: 'Playfair Display', serif;